<ng-container *ngIf="data$ | async as data">
  <div class="article-page">
    <div class="banner">
      <div class="container" *ngIf="data.article">
        <h1>{{ data.article.title }}</h1>
        <div class="article-meta">
          <a [routerLink]="['/profiles', data.article.author.username]">
            <img
              [src]="data.article.author.image"
              alt="profile picture of article author"
            />
          </a>

          <div class="info">
            <a [routerLink]="['/profiles', data.article.author.username]">
              {{ data.article.author.username }}
            </a>
            <span class="date">{{ data.article.createdAt }}</span>
          </div>
          <span *ngIf="data.isAuthor">
            <a
              class="btn btn-outline-secondary btn-sm"
              [routerLink]="['/article', data.article.slug, 'edit']"
            >
              <i class="ion-edit"></i>
              Edit Article
            </a>

            <button
              class="btn btn-outline-danger btn-sm"
              (click)="deleteArticle()"
            >
              Delete Article
            </button>
          </span>
        </div>
      </div>
    </div>

    <div class="container page">
      <ngrx-v16-loading *ngIf="data.isLoading"></ngrx-v16-loading>

      <ngrx-v16-error-message
        *ngIf="data.error"
        [message]="data.error"
      ></ngrx-v16-error-message>

      <div class="row article-content" *ngIf="data.article">
        <div class="col-xs-12">
          <div>
            <p>{{ data.article.body }}</p>
          </div>

          <ngrx-v16-tag-list [tags]="data.article.tagList"></ngrx-v16-tag-list>
        </div>
      </div>
    </div>
  </div>
</ng-container>
