<ng-container *ngIf="data$ | async as data">
  <ngrx-v16-loading *ngIf="data.isLoading"></ngrx-v16-loading>

  <ngrx-v16-error-message
    *ngIf="data.error"
    [message]="data.error"
  ></ngrx-v16-error-message>

  <div *ngIf="data.feed">
    <div class="article-preview" *ngFor="let article of data.feed.articles">
      <div class="article-meta">
        <a [routerLink]="['/profiles', article.author.username]">
          <img
            [src]="article.author.image"
            alt="profile picture of article author"
          />
        </a>

        <div class="info">
          <a [routerLink]="['/profiles', article.author.username]">
            {{ article.author.username }}
          </a>

          <span class="date">{{ article.createdAt }}</span>
        </div>

        <div class="pull-xs-right">ADD TO FAVORITES</div>
      </div>

      <a class="preview-link" [routerLink]="['/articles', article.slug]">
        <h1>{{ article.title }}</h1>

        <p>{{ article.description }}</p>

        <span>Read more...</span>

        <ngrx-v16-tag-list [tags]="article.tagList"></ngrx-v16-tag-list>
      </a>
    </div>

    <ngrx-v16-pagination
      [total]="data.feed.articlesCount"
      [limit]="limit"
      [url]="baseUrl"
      [currentPage]="currentPage"
    ></ngrx-v16-pagination>
  </div>
</ng-container>
